<html lang="en">
<head>
  <%- include("../partials/imports") %>
  <%- include("../partials/meta", {title: "Settings"}) %>
</head>
<body>
<%- include("../partials/nav") %>

  <main>
    <h1>Settings</h1>
  </main>

<%- include("../partials/footer") %>
</body>
</html>
