<footer>
    <span><%- productName %> &copy; 2020</span>
    <span class="hint">Made by Tennessee Renvoize, Powered by <a href="https://webmd.com/" rel="noopener" target="_blank">WebMD</a></span>
</footer>